<div class="float-left grey-box left-panel">
    <ul class="left-nav">
        <li>{{#link-to "dashboard"}}Dashboard {{/link-to}}</li>
        <li>{{#link-to "about"}} About {{/link-to}}</li>
        <li>{{#link-to "team"}} Team {{/link-to}}</li>
    </ul>
</div>