<div class="container">
    <!-- left section -->
    {{nav-panel}}


    <!-- right section -->
    <div class="float-right grey-box right-panel">
        <h2>About iJavaScript</h2>

        <hr>

        <div> 
            
            <img src="assets/images/user_img.png" align="left" class="mrgn-rgt20">
            <p>iJavaScript is a research group, founded to check different javascript frameworks based on different design patterns.</p>
            <p>This use case will prove different aspects of framework capabilities.</p>
    
        </div>

        <h4 style="margin-top:50px">Re-usable Component</h4>
        {{orange-box}}
        {{orange-box}}

        
    </div>

    <div class="clear"></div>
</div>