<div class="container">
    <!-- left section -->
    <div class="float-left grey-box left-panel">
        <ul class="left-nav">
            <li>{{#link-to "dashboard"}}Dashboard {{/link-to}}</li>
            <li>{{#link-to "about"}} About {{/link-to}}</li>
            <li>{{#link-to "team"}} Team {{/link-to}}</li>
        </ul>
    </div>


    <!-- right section -->
    <div class="float-right grey-box right-panel">
        <h2>About iJavaScript</h2>
    </div>

    <div class="clear"></div>
</div>