<div class="container">
    <!-- left section -->
    {{nav-panel}}


    <!-- right section -->
    <div class="float-right grey-box right-panel">
        <h2>About iJavaScript</h2>
    </div>

    <div class="clear"></div>
</div>