<div class="container">

    <!-- header -->
    <div id="login-header" class="red-box">
        <h1>
            <span>Ember JS</span>
            iJavaScript
        </h1>
    </div>

    <!-- Route pages -->
    {{outlet}}

    <!--footer -->
    <div class="footer">Application Developed by Niraj Jha</div>

</div>