{{outlet}}


<div class="container">
    <!-- left section -->
    {{nav-panel}}

    <!-- right section -->
    <div class="float-right grey-box right-panel">
        <h2>Welcome Niraj Jha!</h2>
    </div>

    <div class="clear"></div>
</div>
