{{outlet}}

<!-- login form -->
<div class="red-box">
    <form class="login-form">
        <p>
            <label for="userid">User Id</label> 
            <input type="text" name="userid" value="" placeholder="Enter User Id"></p>
        <p>
            <label for="password">Password</label>
            <input type="password" name="password" value="" placeholder="Enter Password">
        </p>

        <p align="right"><button {{ action "onLoginSubmit" }}>Log In</button></p>
    </form>
</div>
