{{outlet}}

<div class="container">
    <!-- left section -->
    {{nav-panel}}


    <!-- right section -->
    <div class="float-right grey-box right-panel">
        <h2>Meet the Team</h2>

        <hr>
        
        <div class="float-left" style="width:70%">
            {{team-members}}
        </div>

        <div class="float-right">
            <img src="assets/images/user_img.png">
        </div>

        <div class="clear"></div>
    </div>

    <div class="clear"></div>
</div>